<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="internal-nlog.txt">
  <variable name="basePath" value="logs"/>
  <targets>
    <default-target-parameters xsi:type="File" keepFileOpen="false"/>
    <target name="allLogger" encoding="utf-8" xsi:type="File" fileName="${basePath}/${shortdate}-all.txt"
            layout="${longdate}|${logger}|${uppercase:${level}}|${message} ${exception}" />
    <target name="warnLogger" encoding="utf-8" xsi:type="File" fileName="${basePath}/${shortdate}-warn.txt"
            layout="${longdate}|${logger}|${uppercase:${level}}|${message} ${exception}" />
    <target name="console" xsi:type="Console"
            layout="${longdate}|${logger}|${uppercase:${level}}|${message} ${exception}" />
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="allLogger" />
    <logger name="*" minlevel="Warn" writeTo="warnLogger" />
    <logger name="*" minlevel="Trace" writeTo="console" />
  </rules>
</nlog>